<div class="chat-msg <%= "msg-#{message.user.id}" %>" id="cont-<%= message.id %>">
 <div class="chat-msg-profile">
  <img class="chat-msg-img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3364143/download+%281%29.png" alt="" />
  <div class="chat-msg-date"><%= message.created_at.strftime('%H:%M') %></div>
 </div>
 <div class="chat-msg-content">
  <div class="chat-msg-text"><%= message.content %></div>
 </div>
</div>
